<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spillin' Beans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <nav class="level">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/">
                        <strong class="navbar-item">Home</strong>    
                    </a>
                    {{#if logged_in}}
                    <a class="button is-light" href="/users/{{user_id}}">
                        <strong class="navbar-item">My Cook Book</strong>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
        <p class="level-item">
            <img src="/img/beanlogo.png" alt="" style="height: 100px" />
        </p>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#if logged_in}}
                    <a class="button is-light" id="logout">
                        <strong>Log out</strong>
                    </a>
                    {{else}}
                    <a class="button is-primary" href="/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        <strong>Log in</strong>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
    <main class="container">
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>