<section class="hero is-fullheight">
        <div class="hero-body">
            <div id="loginContainer" class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input is-large" id= "user-login" type="text" placeholder="Your Username" autofocus="">
                                    <span class="icon is-small is-left">
                                        <i class="mdi mdi-account-badge"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input is-large" id = "password-login" type="password" placeholder="Your Password">
                                    <span class="icon is-small is-left">
                                        <i class="mdi mdi-form-textbox-lock"></i>
                                    </span>
                                </div>
                                <br>
                            <button class="button is-block is-info is-large is-fullwidth" id="submit">Login <i class="mdi mdi-login-variant" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <br>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
</section>

<script src="/js/login.js"></script>