<div class="container" style="margin-top: 175px; width: 30%">
    <h3 class="title has-text-black has-text-centered">Sign up</h3>
    <div class="box">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Create a Username" />
                <span class="icon is-small is-left">
                    <i class="mdi mdi-account-badge"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" />
                <span class="icon is-small is-left">
                    <i class="mdi mdi-email-plus"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Create a Password" />
                <span class="icon is-small is-left">
                    <i class="mdi mdi-form-textbox-lock"></i>
                </span>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </div>
</div>