nav {
  background-color: #f67570;
}

html {
  background-color: #f2f6fa;
}

.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
.tile {
  min-height: auto;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.hero.is-success {
  background: #f2f6fa;
}

#loginContainer {
  margin-bottom: 200px;
}

#mainColumn {
  height: 100%;
}
