body {
    margin: 0%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto min-content;
}

.banner {
    grid-column: 1 /span 2;
    background-color: red;
    text-align: center;
    height: 15vh;
}

aside {
    height: 85vh;
    background-color: blue;
}